.topMenu {
    padding: 0 !important;
    width: 100%;
    overflow: hidden;
    background-color: #f39c12;
}

body {
    font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Poppins');

.topMenu ul {
    margin: 0;
    float: right;
    display: block;
    position: relative;
    list-style: none;
}

.headerText {
    color:#fff;
    text-align: center;
    margin-top: 10%;
    font-size: 45px;
}

.topMenu li { 
    display: inline-block;
    padding: 5px 15px;
    color: #fff;
}

body {
    background-color: #00C29D;
}

.centerBlock img {
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
}

.centerBlock {
    border-radius: 20px;
    padding: 15px;
    width: 400px;
    background-color: #fff;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    border: 1px solid #e4e3e3;
}

.description {
    text-align: center;
}
.contact {
    display: block;
    font-size: 14px;
    color:#00C29D;
    margin-top: 15px;
}